@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
  width: auto !important;
  height: auto !important;
  background: none !important;
  backdrop-filter: none;
  color: rgba(255, 255, 255, 0.85) !important;

  transition: opacity 0.2s ease, transform 0.2s ease;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  font-weight: 400 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
  transform: translateX(2px);
}





/* 가운데 슬라이드를 크게 보이도록 하는 Tailwind 스타일 */
@layer utilities {
  .main-banner-swiper .swiper-slide {
    @apply transition-all duration-300 ease-in-out opacity-70 scale-[0.85];
  }

  .main-banner-swiper .swiper-slide-active {
    @apply opacity-100 scale-125 z-10;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp 0.3s ease-out forwards;
}
